{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {%  if panier | length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Titre</td>
                <td>image</td>
                <td>prix</td>
                <td>Quantité</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for p in panier %}
            <tr>
                <td>{{ p.pr.title }}</td>
                <td><img height = "30px" width = "30px" src="images/produit.jpg" alt="" class="src"></td>
                <td>{{ p.pr.price }}</td>
                <td>{{ p.qantity }}</td>
                <td><a href="#" class="btn btn-danger btn-sm">Supprimer</a></td>
            </tr>
            {% endfor %}	
        </tbody>
    </table>
    {% else %}
    <p>Surprise, c'est vide !</p>
    {% endif %}

    {% endblock %}
