{% extends 'adminbase.html.twig' %}

{% block title %}Problème et solution
{% endblock %}

{% block body %}
	<div class="container mt-3 p-3">
		<h2 class="text-success-p mb-3">Problème  :
		</h2>
		
		<p class="bg-light mt-2 p-4 fs-4">
			Le problème d’une parapharmacie aujourd’hui est l’accès limité aux acheteurs alors qu’ils ont un grand potentiels 
Les parapharmacies ont une présence en ligne limitée
Manque de savoir faire pour vendre en ligne 
La value proposition est d’offrir un one-stop-shop avec une recommandation détaillée</p>
	</div>

	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3">
			Solution
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">Nous avons développé une solution all-in-one pour gérer les ventes en ligne des parapharmacies.

Cette solution aide les parapharmacies à vendre plus en combinant la création de stores et la gestion des ventes assisté par ordinateur	si vous monter dans les resultats de recherche vous aurais plus de commandes.
		</p>
	</div>
	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3">
			Affliés et reseaux sociaux
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">
			Vous pouvez aussi utiliser le pixel de facebook et une page de votre site pour faire la publicité ciblé
		</p>
		<p class="bg-light mt-2 p-4 fs-4">
			Vous pouvez  utiliser egalement Google adwords ou d'autre affilié pour faire la publicité ciblé de votre boutique et ainsi d'avoir plus de client.
		</p>
	</div>
{% endblock %}
