{% extends 'adminbase.html.twig' %}

{% block title %}Augmenter vos ventes
{% endblock %}

{% block body %}
	<div class="container mt-3 p-3">
		<h2 class="text-success-p mb-3">Augmenter vos ventes :
		</h2>
		<h3 class="bg-success text-white mt-4 p-3">
			e-mailling et Essouk.shop
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">
			Grace à notre solution d'emalling vous pouvez envoyer des campagnes emails publicitaires personnalisées à vos clients pour les fidéliser ou pour acquerir des nouveaux prospects et ainsi augmenter vos gains.
																														 La solution vous permet égalment le suivi compormental de vos envois en vous montrent les clients ou prospects qui ont ouvert vos emails ainsi s'ils ont visité votre boutique (on parle des clients qui ont cliqué sur les liens existant dans votre campagne publicitaire)
		</p>
	</div>

	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3">
			Essouk.shop et moteur de recherche( SEO )
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">Notres platforme a été concu de maniére à vous monter rapidement dans les moteurs de recherche telque google, bing, yahoo... , Grace à notre experts referenceurs
			<strong>quelques Conseils :</strong>
			Eviter les produits et les categories dupliqués
																																			Essayer de choisir des noms pour vos produit et de  vos categories en se basant sur les noms les plus  recherchés sur le net.
			<strong>Bénéfique :</strong>
			si vous monter dans les resultats de recherche vous aurais plus de commandes.
		</p>
	</div>
	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3">
			Affliés et reseaux sociaux
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">
			Vous pouvez aussi utiliser le pixel de facebook et une page de votre site pour faire la publicité ciblé
		</p>
		<p class="bg-light mt-2 p-4 fs-4">
			Vous pouvez  utiliser egalement Google adwords ou d'autre affilié pour faire la publicité ciblé de votre boutique et ainsi d'avoir plus de client.
		</p>
	</div>
{% endblock %}
