{% extends 'adminbase.html.twig' %}

{% block title %}Conditions d'utilisation
{% endblock %}

{% block body %}
	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3 ">Conditions d'utilisation
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">La solution Es-souk a la droit de modifier les conditions d'utilisation ainsi que d'ajouter ou de modifier des  fonctionnalités qui semblent utiles pour ameliorer vos ventes.
		</p>
		<p class="bg-light mt-2 p-4 fs-4">La solution a le droit d' utiliser votre adresse  email comme moyenne de communication.

		</p>
		<p class="bg-light mt-2 p-4 fs-4">La solution a le droit d' avoir 10 % de vos gains pour chaque transaction passées via notre platforme.
		</p>
	</div>
{% endblock %}
