{% extends 'adminbase.html.twig' %}

{% block title %}MARCHÉ CIBLE
{% endblock %}

{% block body %}
	<div class="container mt-4 p-3">
		<h3 class="bg-success text-white mt-4 p-3 ">MARCHÉ CIBLE
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">La taille du marché mondial de la parapharmacie devrait atteindre 223,5 milliards de dollars d'ici 2028
Le marché marocain est estimé à 3,25 milliards de dirham 
On vise 10% du marché marocain </p>
<h3 class="bg-success text-white mt-4 p-3 ">CLÉS DE DIFFÉRENCIATION
		</h3>
		<p class="bg-light mt-2 p-4 fs-4">Notre produit est un site web et une application mobile 
Notre avantage est de creér une boutique en ligne d’une façon rapide et personalisée la maintenance et la gestion des ventes
tion d’une communauté locale pour les parapharmacies
.
		</p>
	</div>
{% endblock %}
