{% extends 'adminbase.html.twig' %}

{% block title %}Ç'est quoi Essouk.shop ?
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<img src="{{ asset('images/quoi.png')}}" alt="c'est quoi ESSouk.shop" class="img-fluid mt-4"/>
		</div>
		<div class="col-md-6">
			<h3 class="bg-success text-white mt-3 p-3">Ç'est quoi Essouk.shop ?
			</h3>
			<p class="bg-light mt-2 p-4 fs-4">Il s'agit d'une platforme e-commerce web (stable et rapide)																																																																																		et mobile (en mode beta)  100 % marocaines  développée par des experts ingenieurs informaticiens marocains dans me domaine du web et du mobiles et des experts en  commerce électronique au service de toute personne ou entreprise ayant une activée commercialle.
			</p>
			<p class="bg-light mt-2 p-4 fs-4">
				La solution vous pemet de creer votre boutique en ligne sur internet en vous ajoutant 
																																																																																																																																la liste de vos produits  et de vos categorie sur le site.
				<a href="/c-est-quoi-essouk-shop">Lire la suite...</a>

			</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-12 bg-success text-white mt-3 p-3">
			<h2>Questions fréquentes</h2>
		</div>
	</div>
	<div class="row">
		<div class="accordion" id="accordionExample">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Est ce que la création d'une boutique en ligne est gratuite ?
						</button>
					</h2>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
					<div class="card-body">
						La solution est gratuite pendant 2 mois, à moins que vous arrivez à augmenter vos vents grace à notre platforme.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Comment rendre notre boutique visible sur le moteur de recherche?
						</button>
					</h2>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
					<div class="card-body">
						Notres platforme a été concu de maniére à vous monter rapidement dans les moteurs de recherche telque google, bing, yahoo... , Grace à notre experts referenceurs
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Comment augmenter nos gains ?
						</button>
					</h2>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
					<div class="card-body">
						<ul>
							<li>Grace à notre solution d'emalling marketing</li>
							<li>en utilisant le referencement(SEO) dans les moteurs de recherche les plus connus</li>
							<li>en utilisant les Affliés et les reseaux sociaux</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
