{% extends 'adminbase.html.twig' %}

{% block title %}Ç'est quoi Essouk.shop ?
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<img src="{{ asset('images/quoi.png')}}" alt="c'est quoi ESSouk.shop" class="img-fluid mt-4"/>
		</div>
		<div class="col-md-6">
			<h3 class="bg-success text-white mt-3 p-3">Ç'est quoi Essouk.shop ?
			</h3>
			<p class="bg-light mt-2 p-4 fs-4">Il s'agit d'une platforme e-commerce web (stable et rapide)																																																																																		et mobile (en mode beta)  100 % marocaines  développée par des experts ingenieurs informaticiens marocains dans me domaine du web et du mobiles et des experts en  commerce électronique au service de toute personne ou entreprise ayant une activée commercialle.
			</p>
			<p class="bg-light mt-2 p-4 fs-4">
				La solution vous pemet de creer votre boutique en ligne sur internet en vous ajoutant 
																																																																																																																																																																																																																la liste de vos produits  et de vos categorie sur le site.
				<a href="/c-est-quoi-essouk-shop">Lire la suite...</a>

			</p>
		</div>
	</div>
	<div class="container">
		{{ include("static/questions.html.twig") }}
	</div>

{% endblock %}
