{% extends 'adminbase.html.twig' %}

{% block title %}Ç'est quoi Essouk.shop ?
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<img src="{{ asset('images/quoi.png')}}" alt="c'est quoi ESSouk.shop" class="img-fluid mt-4"/>
		</div>
		<div class="col-md-6">
			<h3 class="bg-success text-white mt-3 p-3">Ç'est quoi Parasouk.shop ?
			</h3>
			<p class="bg-light mt-2 p-4 fs-4">Parasouk est une Marketplace pour accélérer et simplifier la vente de produits parapharmaceutiques en ligne, car, La plupart des parapharmacies n’ont pas encore l'accès à leur vrai potentiel en terme de ventes et de clients


			</p>
		</div>
	</div>
	<div class="container">
		{{ include("static/questions.html.twig") }}
	</div>

{% endblock %}
