<div class="container mt-4 p-3">
	<div class="mt-5">
		<div class="col-md-12 bg-success text-white mt-3 p-3">
			<h2>Questions fréquentes</h2>
		</div>
	</div>
	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Est ce que la création d'une boutique en ligne est gratuite ?
					</button>
				</h2>
			</div>

			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					La solution est gratuite pendant 2 mois, à moins que vous arrivez à augmenter vos vents grace à notre platforme.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Comment rendre notre boutique visible sur le moteur de recherche?
					</button>
				</h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				<div class="card-body">
					Notres platforme a été concu de maniére à vous monter rapidement dans les moteurs de recherche telque google, bing, yahoo... , Grace à nos experts referenceurs
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Comment augmenter nos gains ?
					</button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
					<ul>
						<li>Grace à notre solution d'emalling marketing</li>
						<li>en utilisant le referencement(SEO) dans les moteurs de recherche les plus connus</li>
						<li>en utilisant les Affliés et les reseaux sociaux</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Est ce qu'on peut l'utilisé en dropshipping ?
					</button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
					oui on peut l'utiliser sans aucun problème.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingThree">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Est ce qu'on peut avoir une application mobile gratuite ?
					</button>
				</h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				<div class="card-body">
					l'application mobile est gratuite pendant 1 mois apres il faut payer 10 euro par mois
				</div>
			</div>
		</div>

	</div>
