{% extends 'adminbase.html.twig' %}

{% block title %}Ç'est quoi Essouk.shop ?
{% endblock %}

{% block body %}
	<h3 class="bg-success text-white mt-4 p-3">Ç'est quoi Essouk.shop ?
	</h3>
	<p class="bg-light mt-5 p-4 fs-4">Il s'agit d'une platforme e-commerce web (stable et rapide)
												et mobile (en mode beta)  100 % marocaines  développée par des experts ingenieurs informaticiens marocains dans me domaine du web et du mobiles et des experts en  commerce électronique au service de toute personne ou entreprise ayant une activée commercialle.
	</p>
	<p class="bg-light mt-5 p-4 fs-4">
		La solution vous pemet de creer votre boutique en ligne sur internet en vous ajoutant la liste de vos produits  et de vos categorie sur le site.
																																																		Elle vous  permet egalement de personnaliser votre boutique en ligne et de choisir le mode paiement ainsi que le mode de livraison.
	</p>
	<p class="bg-light mt-5 p-4 fs-4">
		Elle vous permet egalement de voir des statistiques sur vos ventes.																La platforme se base sur le sous domaine pour creer votre boutique en ligne par ( exemple : votre nom ou entreprise s'appelle  toto donc le nom votre boutique sera toto.Ess.shop) mais on peut vous acheter votre propre domaine qui dépasse pas {200 dh} en le redirigeant vers notre platforme.
																																Une nouvelle fonctionnalité sera disponible prochainment qui vous permet de voir la liste de vos actions sur le site.
	</p>
	<p class="bg-light mt-5 p-4 fs-4">
		La solution est gratuite pendant 2 mois, à moins que vous arrivez à augmenter vos vents grace à notre platforme.
	</p>


{% endblock %}
