{% extends 'adminbase.html.twig' %}

{% block title %}Ç'est quoi Essouk.shop ?
{% endblock %}

{% block body %}
	<h3 class="bg-success text-white mt-4 p-3">Ç'est quoi Essouk.shop ?
	</h3>
	<p class="bg-light mt-5 p-4 fs-4">Parasouk est une Marketplace pour accélérer et simplifier la vente de produits parapharmaceutiques en ligne, car, La plupart des parapharmacies n’ont pas encore l'accès à leur vrai potentiel en terme de ventes et de clients	</p>


{% endblock %}
