{% for category in categories %}
	<nav class="navbar bg-body-tertiary mt-0">
		<div class="container-fluid bg-light">
			<a class="navbar-brand text-dark" href="{{ path('category_products',{'id' : category.id }) }}">{{ category.name }}</a>
			<span class="badge bg-danger rounded-pill text-white">
				{{ category.product_number == '' ? 0 : category.product_number }}
			</span>
		</div>
	</nav>
{% endfor %}
